<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Bienvenue sur notre site</h1>
        <div class="row mt-4">
            <div class="col">
                <a href="/articles" class="btn btn-primary btn-lg btn-block">Voir les Articles</a>
            </div>
            <div class="col">
                <a href="/create-article" class="btn btn-success btn-lg btn-block">Créer un Article</a>
            </div>
            <div class="col">
                <a href="/view-articles" class="btn btn-info btn-lg btn-block">Voir tous les Articles</a>
            </div>
            <div class="col">
                <a href="/view-article/1" class="btn btn-info btn-lg btn-block">Voir l'article</a>
            </div>
        </div>
    </div>
</body>
</html>
